body {background-color: rgb(214, 244, 248);}
h1 {color: #66BfBF;}
h3 {color: #66BfBF;}
hr { 
  background-color: rgb(214, 244, 248);
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
   }